body {
    width: auto;
    background-color: #DDCC66;
    margin: 0;
    padding: 0;
    color: #331111;
    font-family: "Roboto";
    font-size: 18px;
}

main {
    color: #1F2937;
}

header {
    background-color: #331111;
    width: 100%;
    height: auto;
    color: #DDCC66;

}

ul {
    display: flex;
    list-style-type: none;
    padding: 0px 10px;
    align-items: center;
    gap: 30px;
  }

.container1 {
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-right: 200px ;
    margin-left: 100px ;
    margin-bottom: 60px;
}

.left {
    color: #DDCC66;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.5px;

}

.container2 {
    align-items: center;
    margin-right: 200px ;
    margin-left: 190px ;
    display: flex;
    padding-bottom: 90px;
    margin-left: 100px ;
}


.placeholder {
    width: 1000px;
    height: 270px;
    margin-left: 40px;
    margin-top: 20px;
}

h1 {
    font-size: 48px ;
    color: #DDCC66;
}

button {
    border-radius: 10px;
    width: 7em;
    height: 35px;
    font-family: "Roboto";
    background-color: #995533;
    color: #DDCC66;
    font-size: 17px;
    border:  none;
    margin-left: -2px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.info-header {
    padding: 32px;
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
}

.simg {
        margin-left: 20px;
        width: 150px;
        height: 150px;
        color: #f9faf8;
        background-color: white;
        border: solid 5px #995533; 
        border-radius: 13px;    
}

#items {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 52px;
  }

  
.info {
    max-width: 200px;
  }

.text {    
    text-align: center;
    margin-top: 1rem;    
}

main {
    background-image: url(https://wallpapercave.com/wp/wp10610070.jpg);
    background-size: cover;
    background-position: 0%;
    height: 400px;
}

#quote{
    color: white;
    letter-spacing: 0.1em;
    margin: 11em 0;
    max-width: 1440px;
    padding: 30px;
    font-family:'Fira Mono', monospace;
    text-shadow: 0 0 1em black, 0 0 2em black;

}

.quote-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Fira Mono', monospace;
    margin: 0 auto;
    font-weight: italic;
        font-size: 3em;
    text-align: center;
    font-style: italic;
}

.source {
    margin-right: 20px;
    display: flex;
    justify-content: end;
    margin-top: 2rem;
    font-weight: bolder;
    font-size: 50px;
    color: rgb(46, 11, 3);
}

#sign-button {
    border-radius: 15px;
    height: 11rem;
    margin: 4rem auto;
    width: 1220px;
    align-items: left;
    background-color: #995533;
    display: flex;
}

.sign-text1 {
    font-weight: bold;
    font-size: 34px;
}

.sign-text {
    font-weight: italic;
    font-size: 25px;
}

.button2 {
    justify-content: center;
    align-items: center;
    margin: 62px 0px 0px 200px;
    display: flex;
    border-radius: 15px;
    border: #DDCC66 solid 5px;
    height: 60px;
    width: 170px;
}

#just {
    margin: 48px 0px 0px 3rem;
    display: flex;
    flex-direction: column;
}